#map {
    position: absolute;
    width: 49%;
    height: 100%;
    background: grey;
  }
  
  #panel {
    position: absolute;
    width: 49%;
    left: 51%;
    
    background: inherit;
    height: 200px;
    overflow: scroll;
  }
